body{
    font-family: cursive;
}

.card {
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 350px;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: absolute;
    top: 25%;
    left: 35%
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    width: 100%;
}

.label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.input {
    width:90%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.input:focus {
    outline: none;
    border-color: #c5c5d8;
    box-shadow: 0 0 5px #0d0d87;
}

.button{
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: black;
    background-color: grey;
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.chat-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c5c5d8;
    color: #fff;
    padding: 10px;
}

.chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
}

.message {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.message.self {
    align-self: flex-end;
}

.message-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.message-sender {
    font-weight: bold;
}

.message-timestamp {
    font-size: 0.8em;
    color: #888;
}

.message-body {
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 10px;
}

.chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
}

.chat-input input {
    flex-grow: 1;
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px #ccc;
}

.chat-input button {
    background-color: #c5c5d8;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
